/* 自定义字体 */
@font-face {
    font-family: 'ziti';
    src: url('https://img.lbwnb.vip/static/1.woff2');
}

/* 页脚透明 */

#footer {
    background: transparent !important;
}

/* 首页中间打字效果上方 */
#page-header #site-title {
    font-size: 3em;
    text-shadow: 4px 4px 2px #30302e;
}

#subtitle {
    text-shadow: 3px 3px 2px #30302e;
    font-size: 1.2em;
}

@font-face {
  font-family: "iconfont"; /* Project id 2760680 */
  src: url('//at.alicdn.com/t/font_2760680_desxyxw4fsf.woff2?t=1629590507270') format('woff2'),
       url('//at.alicdn.com/t/font_2760680_desxyxw4fsf.woff?t=1629590507270') format('woff'),
       url('//at.alicdn.com/t/font_2760680_desxyxw4fsf.ttf?t=1629590507270') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gmail:before {
  content: "\e6a5";
  font-size: 30px;
}

.icon-telegram:before {
  content: "\eaf9";
  font-size: 30px;
}

.icon-github:before {
  content: "\e691";
  font-size: 30px;
}

.icon-bilibili:before {
  content: "\e652";
  font-size: 30px;
}