/* 自定义字体 */
@font-face {
    font-family: 'ziti';
    src: url('https://img.lbwnb.vip/static/1.woff2');
}

/* 首页中间打字效果上方 */
#page-header #site-title {
    font-size: 3em;
    text-shadow: 4px 4px 2px #30302e;
}

#subtitle {
    text-shadow: 3px 3px 2px #30302e;
    font-size: 1.2em;
}

/* 页脚透明 */
#footer {
    background: transparent !important;
}
#footer:before {
    background-color: rgba(0,0,0,0);
}

/* 首页透明 */
#page-header:not(.not-top-img):before {
    background-color: rgba(0,0,0,0);
}
#page-header.post-bg:before {
    background-color: rgba(0,0,0,0.5);
}

/* 引入图标 */
@font-face {
    font-family: "iconfont"; /* Project id 2760680 */
    src: url('//at.alicdn.com/t/font_2760680_desxyxw4fsf.woff2?t=1629590507270') format('woff2'),
         url('//at.alicdn.com/t/font_2760680_desxyxw4fsf.woff?t=1629590507270') format('woff'),
         url('//at.alicdn.com/t/font_2760680_desxyxw4fsf.ttf?t=1629590507270') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-gmail:before {
    content: "\e6a5";
    font-size: 30px;
  }
  
  .icon-telegram:before {
    content: "\eaf9";
    font-size: 30px;
  }
  
  .icon-github:before {
    content: "\e691";
    font-size: 30px;
  }
  
  .icon-bilibili:before {
    content: "\e652";
    font-size: 30px;
  }

/*修改颜色值*/
/*最近文章卡片*/
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: var(--light_bg_color)
  }
  
  #aside-content .card-widget {
    background: var(--light_bg_color)
  }
  
  #post,#page,#archive,#tag,#category{
    background: var(--light_bg_color)
  }
  
  :root{
  --card-bg: rgba(236, 240, 246, 0.87); 
  --light_bg_color: rgba(248, 250, 255, 0.95);
  }

  /* 滚动条 */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(73,177,245,0.2);
    border-radius: 2em;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.4) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  ::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
  }

/* 404页面 */
.error404 #page-header.not-top-img #nav {
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    /* display: none; */
  }
  
  #page-header.not-top-img #nav a {
    color: #eeeeee;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
    font-weight: bold;
  }
  
  .error404 #error-wrap .error-content .error-info {
    background: var(--light_bg_color)
  }
  
  
  /* 禁止头像转动 */
  .avatar-img img {
    transition: none;
  }